{% extends "EkreativeTestBuildWebBundle::base.html.twig" %}


{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <h1>{{ title }}</h1>

    <a class="btn btn-primary margin-bottom-15" href="{{ path('projects') }}">Back</a>

    {% if appform is defined %}
        <div class="upload-form">
            {{ form_start(appform , {'attr':{'class':'form-horizontal'}}) }}
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">{{ form_widget(appform.build) }}</div>
                <div class="col-sm-6 col-md-4 col-lg-2">{{ form_widget(appform.comment) }}</div>
                <div class="col-sm-6 col-md-4 col-lg-2">{{ form_widget(appform.save,{'attr':{'class':'btn btn-success'}}) }}</div>
            </div>
            {{ form_end(appform) }}
        </div>
    {% endif %}

    <table class="table">
        <tr>
            <td>#</td>
            <td></td>
            <td>Name</td>
            <td>Version</td>
            <td>Bundle id</td>
            <td>Size</td>
            <td>Created</td>
            <td>Build</td>
            <td></td>
            {% if delete %}
                <td></td>
                <td>Release</td>
            {% endif %}
        </tr>
        {% for app in apps %}
            <tr>
                <td>{{ app.id }}</td>
                <td><img width="57" height="57" src="{{ app.iconUrl }}"></td>
                <td>{{ app.name }}</td>
                <td>{{ app.version }} ({{ app.buildNumber }})</td>
                <td>{{ app.bundleId }}</td>
                <td>{{ app.getPublicAppSize() }}</td>
                <td>{{ app.created|date("d/m/Y") }}</td>

                <td> <a class="btn btn-primary" href="{{ app.buildUrl }}" target="_blank">Download</a></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('build_install',{'token':app.token}) }}" target="_blank">Install</a>
                </td>
                {% if delete %}
                    <td>
                        <form method="post" action="{{ path('build_delete',{'token':app.token,'project':app.projectId,'type':app.type}) }}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        {% if app.release %}
                            <a class="btn btn-primary" href="{{ path('build_inverse_release',{'app':app.id}) }}" >YES</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('build_inverse_release',{'app':app.id}) }}" >NO</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}