{% extends "::base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }} - {{ type }}</h1>
    {% if appform is defined %}
        <div class="upload-form">
            {{ form_start(appform , {'attr':{'class':'form-horizontal'}}) }}
            <div class="row">

                {% if type=='ios' %}
                    <a class="btn btn-primary pull-right"
                       href="{{ path('project_builds',{'projectSlug':project,'type':'android'}) }}">Android</a>
                {% else %}
                    <a class="btn btn-primary pull-right"
                       href="{{ path('project_builds',{'projectSlug':project,'type':'ios'}) }}">Ios</a>
                {% endif %}

                <div class="col-sm-6 col-md-4 col-lg-3">{{ form_widget(appform.build) }}</div>
                <div class="col-sm-6 col-md-4 col-lg-2">{{ form_widget(appform.comment) }}</div>
                <div class="col-sm-6 col-md-4 col-lg-2">{{ form_widget(appform.save,{'attr':{'class':'btn btn-success'}}) }}</div>
            </div>
            {{ form_end(appform) }}
        </div>
    {% endif %}
    <table class="table">
        <tr>
            <td>#</td>
            <td></td>
            <td>Comment</td>
            <td>Version (Build #)</td>
            <td>Bundle id</td>
            <td>Size</td>
            <td>Created</td>
            <td>Ref</td>
            <td>App Server</td>
            <td>Install</td>
            {% if delete %}
                <td></td>
                <td>Release</td>
            {% endif %}
        </tr>
        {% for app in apps %}
            <tr>
                <td>{{ app.id }}</td>
                <td><img width="57" height="57" src="{{ app.iconUrl }}"></td>
                <td>
                    {% if app.ci %}
                        <span class="glyphicon glyphicon-fire" title="This build was uploaded by a CI server"
                              data-toggle="tooltip"></span>
                    {% endif %}
                    {{ app.comment ?: app.name }}
                </td>
                <td>{{ app.version }} ({{ app.buildNumber }})</td>
                <td>{{ app.bundleId }}</td>
                <td>{{ app.getPublicAppSize() }}</td>
                <td>
                    <div>
                        {{ app.created|date("d/m/Y H:i") }}
                    </div>
                    <small>{{ app.createdName }}</small>
                </td>
                <td>{{ app.ref }}</td>
                <td>{{ app.appServer }}</td>
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('build_install_platform',{'token':app.token,'platform':app.type}) }}"
                       target="_blank">Install</a>
                </td>
                {% if delete %}
                    <td>
                        <form method="post"
                              action="{{ path('build_delete',{'token':app.token,'project':app.projectId,'type':app.type}) }}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        {% if app.release %}
                            <a class="btn btn-primary" href="{{ path('build_inverse_release',{'app':app.id}) }}">YES</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('build_inverse_release',{'app':app.id}) }}">NO</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
