{% extends "base.html.twig" %}

{% block title %}
    {{ app.name }}
{% endblock %}

{% block body %}
    <div class="content-center margin-bottom-40">
        <div><a class="block-link" href="{{ install }}"><img src="{{ qrcode }}"></a></div>
        <div class="app-name"><img width="57" height="57" src="{{ app.iconUrl == 'https://testbuild.rocks/images/icon.png' ? asset('build/images/icon.png') : app.iconUrl }}"> {{ app.name }}</div>
        <div class="margin-top-15">{{ app.type }} {{ app.version }} ({{ app.buildNumber }})</div>
        <div>
            {% if app.ci %}
                <span class="glyphicon glyphicon-fire" title="This build was uploaded by a CI server"
                      data-toggle="tooltip"></span>
            {% endif %}
            {{ app.comment }}
        </div>
        {% if app.ref %}
            <div><span class="glyphicon glyphicon-tree-deciduous" title="Ref (branch or tag)" data-toggle="tooltip"></span> {{ app.ref }}</div>
        {% endif %}
        {% if app.commit %}
            <div><span class="glyphicon glyphicon-leaf" title="Commit" data-toggle="tooltip"></span> {{ app.commit }}</div>
        {% endif %}
        {% if app.jobName %}
            <div><span class="glyphicon glyphicon-equalizer" title="Job name" data-toggle="tooltip"></span> {{ app.jobName }}</div>
        {% endif %}
        <div>{{ app.appServer }}</div>
        <div>{{ app.created|date('H:i:s d/m/Y') }}</div>
        <div>{{ app.getPublicAppSize() }}</div>
        <div><a class="btn btn-primary" href="{{ url }}">Install</a></div>
        {% if app.type == 'ios' %}
            <br>
            <div><a class="btn btn-primary" href="{{ buildUrl }}">Download IPA</a></div>
        {% endif %}
    </div>
{% endblock %}
