{% extends "EkreativeAppsBundle::base.html.twig" %}

{% block body %}
<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="{{path('ekreative_folder_index')}}">Apps</a></li>
</ul>
<div>
{{ form_start(form , {'attr':{'class':'well form-search'}})  }}
    <div class="pull-left">
        <div>{{form_label(form.apikey)}}</div>
        <div>{{form_widget(form.apikey,{attr:{'class':'fullwidth'}})}}</div>
        <div>{{form_label(form.devicetoken)}}</div>
        <div>{{form_widget(form.devicetoken,{attr:{'class':'fullwidth'}})}}</div>
        <div><label class="required">Response</label></div>
        <pre>{{result|raw}}</pre>
    </div>
    <div class="right-panel">
        <div>{{form_label(form.data)}}</div>
        <div>{{form_widget(form.data,{attr:{'class':'dataform'}})}}</div>
        <div class="pull-right">{{form_widget(form.save,{'attr':{'class':'btn btn-success top10'}})}}</div>
    </div>
<div style="clear: both" ></div>
</div>
{{ form_end(form)  }}
{% endblock %}


