{% extends "::base.html.twig" %}


{% block body %}
    {% block pages %}
    <div>
        <nav class="text-center">
            <ul class="pagination">
                {% for i in 1..pages %}
                    <li {% if i==page %} class="active"{% endif %}><a href="{{ path('projects',{'page':i, 'q': q}) }}">{{ i }}</a></li>
                    {% endfor %}
            </ul>
        </nav>
    </div>
    {% endblock %}

    {{ form_start(searshForm) }}
    <div class="row">
        <div class="col-lg-6">
        </div>

        <div class="col-lg-6">
            <div class="input-group">
                {{ form_widget(searshForm.q)}}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn">Find!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    {{ form_end(searshForm) }}

    <table class="table margin-top-15">
        <tr>
            <td>#</td>
            <td>Project name</td>
            <td>Date created</td>
            <td>Date updated</td>
            <td></td>
            <td></td>
        </tr>

        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.created_on|date("d/m/Y") }}</td>
                <td>{{ project.updated_on|date("d/m/Y") }}</td>
                <td>
                    <a class="btn-sm btn-primary" href="{{ path('project_builds',{'project':project.identifier,'type':'ios'}) }}">IOS</a>
                </td>
                <td>
                    <a class="btn-sm btn-primary" href="{{ path('project_builds',{'project':project.identifier,'type':'android'}) }}">Android</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ block('pages') }}

{% endblock %}
