{% extends "EkreativeTestBuildWebBundle::base.html.twig" %}


{% block body %}


<div class="content-center" >

    <div><img src="{{ qrcode }}"></div>
    <div class="app-name">{{ app.name }}</div>
    <div class="margin-top-15">{{ app.type }} {{ app.version }}</div>
    <div>{{ app.comment }}</div>
    <div>{{ app.created|date('H:i:s d/m/Y') }}</div>
    <div><a class="btn btn-primary" href="{{ url }}">Install</a></div>
</div>


{% endblock %}