{% extends "EkreativeAppsBundle::base.html.twig" %}
{% block body %}
        <div class="row">
            <div class="col-md-6 text-center .col-md-offset-3">
                <img src="{{ app.qrcode }}"/>
            </div>
            <div class="col-md-6 .col-md-offset-3">
            <h2>{{ app.folder.name }}</h2>
                <p>Version {{ app.version }}</p>
                <p>Comment {{ app.comment }}</p>
                <p>{{ app.date.format('H:i:s d.m.Y') }}</p>
                <p><a class="btn btn-success" href="itms-services:///?action=download-manifest&url={{ S3Plistname  | url_encode }}">Install</a></div>
        </div>
{% endblock %}